* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    font-family: Arial, sans-serif;

    --black: black;
    --black2: #333;
    --black3: rgb(39, 3, 3);
    --pink: #da2f68;
    --orange: #f89e00;
    --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}